name: Github CI

on:
  push:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Install dependencies
        run: apt-get install gcc-aarch64-linux-gnu
      - name: Build
        run: /bin/sh -c "chmod +x release.sh && bash release.sh"
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: myurls-linux-amd64
          path: build/linux-amd64.tar.gz
