name: Github CI

on:
  push:
    branches: 
      - '*'

jobs:
  linux_amd64_build:
    name: Linux amd64 build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22.1'
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
      - name: Install dependencies
        run: sudo apt install gcc-aarch64-linux-gnu
      - name: Build
        run: /bin/sh -c "chmod +x scripts/build_linux_amd64.sh && bash scripts/build_linux_amd64.sh"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: myurls-linux-amd64
          path: build/myurls-linux-amd64.tar.gz

  linux_arm64_build:
    name: Linux arm64 build
    runs-on: ubuntu-latest
    # runs-on: self-hosted
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22.1'
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
      - name: Install dependencies
        run: sudo apt install gcc-aarch64-linux-gnu
      - name: Build
        run: /bin/sh -c "chmod +x scripts/build_linux_arm64.sh && bash scripts/build_linux_arm64.sh"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: myurls-linux-arm64
          path: build/myurls-linux-arm64.tar.gz

  # darwin_amd64_build:
  #   name: Darwin amd64 build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Set up Go 1.22
  #       uses: actions/setup-go@v5
  #       with:
  #         go-version: '^1.22.1'
  #       id: go
  #     - name: Check out code into the Go module directory
  #       uses: actions/checkout@master
  #     - name: Install dependencies
  #       run: sudo apt install gcc-aarch64-linux-gnu
  #     - name: Build
  #       run: /bin/sh -c "chmod +x scripts/build_darwin_amd64.sh && bash scripts/build_darwin_amd64.sh"
  #     - name: Upload
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: myurls-darwin-amd64.tar.gz
  #         path: build/myurls-darwin-amd64.tar.gz

  windows_x64_build:
    name: Windows x64 build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22.1'
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@master
      - name: Install dependencies
        run: sudo apt install gcc-aarch64-linux-gnu
      - name: Build
        run: /bin/sh -c "chmod +x scripts/build_windows_x64.sh && bash scripts/build_windows_x64.sh"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: myurls-windows-x64.tar.gz
          path: build/myurls-windows-x64.tar.gz
